.grid-container {
    border: 5px solid;
    display: grid;
    justify-content: space-evenly;
    /* grid-template-columns: 50px 50px 50px 50px; */
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    /* row-gap: 10px; */
    padding: 10px;
    background: #2196f3;
    font-family: Roboto;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
